body {
  margin: 0;
  padding: 0;
  color: #fff;
  min-height: 100%;
  overflow: hidden;
  background: url(../assets/images/bg-image-og.png);
  background-attachment: fixed;
  background-size: cover;
}

* {
  cursor: url(../assets/images/cursor.png), pointer;
  font-family: 'Oxanium', sans-serif;
}

:root{
  --main: ur
}