.progress-bar-container {
    height: 10px;
    background: transparent;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.progress-bar {
    height: 10px;
    background: var(--blue);
    transition: width 0.5s ease;
}