@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    border-radius: 10px;
    max-width: max-content;
    overflow: hidden;
    background: var(--bg-black);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 20px var(--bg-shadow);
    font-family: 'Oxanium', sans-serif;
    color: var(--red);
    font-weight: 500;
    text-transform: uppercase;
}

.results-menu {
    padding: 20px;
    max-width: 400px;
    text-align: center;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    overflow: hidden;
    padding: 20px;
}

.quiz-question {
    font-size: 18px;
    margin-bottom: 15px;
}

.quiz-option {
    list-style-type: none;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.3s ease;
    max-width: max-content;
    cursor: var(--cursor-select), pointer;
}

.quiz-option:hover {
    color: var(--blue);
    transition: 0.2s linear;
}

.quiz-option.selected {
    color: var(--blue);
}

.quiz {
    margin-bottom: 20px;

}

.button{
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Oxanium', sans-serif;
    font-weight: 500;
    color: var(--red);
    transition: 0.2s ease;
    cursor: var(--cursor-select), pointer;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    background: transparent;
}

.button:hover{
    color: var(--blue);
    transition: 0.2s ease;
}

.results {
    color: var(--blue);
}